
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: beige;

}
.name{
  font-size: 30px;
}
b{
  font-size: large;
}
.warde{
    background-color: #0a0a0afc;
      color:rgb(215, 156, 94);
      padding: 30px;
      place-items: center;
      text-align: 15px;
    }
    #logo{ 
      position:absolute ;
      top: -10px; 
      right:0;
      height: 18px;
      width: auto; 
    }
     img{
      height: 90px;
      width: auto;
    }
    nav{
      display: grid;
      background-color: #bb9652;
      place-items: center;
    }
    nav ul{
      list-style-type: none;
    }
    nav ul a{
      padding: 10px;
      display: inline-block;
      text-decoration: none;
      color: #000;
      transition: 0.2s ease-in;
    }
    nav ul a:hover{
      background-color: rgb(26, 24, 28);
      color: bisque;
    }
     nav .search-bar-container{
        display: flex;
        align-items: center;
        width: 15rem;
        padding:0.7rem;
        background:#000;
        border-radius: .5rem;
        direction: ltr;
        position:absolute;
        right: 0;
      }
      
        #search-bar{
        width: 100%;
        background:none;
        text-transform: none;
        color:#f4f0f4;
        font-size: 0.7rem;
      }
      
      #search-bar::placeholder{
        text-transform: capitalize;
        color:#c8a33f;
      }
     label{
        color:#57f1dd;
        cursor: pointer;
        font-size: 55rem;
        padding:0 .5rem;
      }
      label:hover{
        color:var(--secondary);
      }.introduction{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.wrapper{
    max-width: 1000px;
    width: 100%;
    height: fit-content;
    background: #fff;
    margin: 20px auto;
    margin-right: 210px;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.125);
    
}

.title{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}
.section-title{
    text-align: center;
    margin-bottom: 80px;
}
.section-title h2{
    text-transform: capitalize;
    position: relative;
    display: inline;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-family: 'italianno', cursive;
}
.section-title h2::before
{
    content: '';
    position: absolute;
    width: 60 px;
    height: 3px;
    background-color: indianred;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}


.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-title p:hover{
    font-size: 30px;
    font-style: italic;
}
.menu-column {
    width: 31%;
}
.menu-column h4{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}
.menu-item{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 60px;
}
.primary-tex{
    padding-left: 20px;
    color: gold;
}
.menu-item img{
     border-radius: 50%;
     max-width: 120px;
     border:1px dashed #ddd;
     padding: 3px;
     margin-right: 15px;
     transition: .3s;
     height: 100px;
     width: 100px;
}
.menu-item img:hover{
    transform: scale(1.5);
    z-index:2;
}
.menu-item .menu-content h3{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 2px dashed grey;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.menu-item .menu-content h3 span{
     color: gold;
     float: right;
     font-weight:600;
     font-style:italic ;
     margin-left: 150px;
     margin-top: 10px;
      border-bottom:dashed 2px  #d2c73c ;
    margin-bottom: 20px;
}
.menu-items{
    display: flex;
    justify-items: center;
    align-items: center;
}


@media only screen and (min-width:992px) and (max-width:1200px){
  .container{
      width: 970px;
  }
}
@media only screen and (min-width:768px) and (max-width:991px){
  .container{
      width: 750px;
      
  }
  .menu-item{
      flex-direction: column;
  }
  .menu-item img {
      margin-bottom: 25px;

  }
}
@media only screen and (max-width:767px){
  .container{
      width: 100%;
  }
  .menu-items-left{
      width: 100%;
      margin-bottom: 30px;
      margin-right: 60px;
      
  }
  .menu-items-right{
    width: 100%;
    margin-bottom: 30px;
    margin-right: 60px;
   
  }
  
  .menu-items{
      flex-direction: column;
      margin-left: 10px;
      

  }
  .menu-item img {
      margin-bottom: 25px;
  
  }
}
.co{
  font-size: 40px;
}
h3{
  border-bottom:dashed 2px  #d2c73c ;
}

